streamlit
langchain
ollama
chromadb
pdfplumber
pdf2image
pytesseract
requests
beautifulsoup4
matplotlib
seaborn

# pip install --upgrade langchain-community
# pip install streamlit langchain langchain-community langchain-ollama langchain-huggingface sentence-transformers faiss-cpu
# pip install torch==2.1.2
# streamlit run app1.py
